* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    line-height: 1.6;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 7%;
    background: rgba(17, 17, 17, 0.95);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    opacity: 0.7;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 120px 7%;
    background: linear-gradient(90deg, #111, #222);
}

.hero h1 {
    font-size: clamp(50px, 8vw, 100px);
    line-height: 0.95;
    margin: 15px 0;
}

.hero p {
    max-width: 550px;
    color: #ccc;
    margin-bottom: 30px;
}

.small-title {
    font-size: 13px;
    letter-spacing: 3px;
    color: #aaa;
}

.button {
    display: inline-block;
    padding: 14px 25px;
    background: white;
    color: #111;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.section,
.contact {
    padding: 100px 7%;
}

.section h2,
.about h2,
.contact h2 {
    font-size: 45px;
    margin: 10px 0 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 35px;
    background: #1d1d1d;
    border: 1px solid #333;
}

.card h3 {
    font-size: 25px;
}

.card p {
    color: #aaa;
    margin: 10px 0;
}

.card span {
    font-weight: bold;
}

.about {
    padding: 120px 7%;
    background: #1b1b1b;
}

.about p:last-child {
    max-width: 650px;
    color: #ccc;
}

.contact {
    text-align: center;
}

.contact p {
    margin: 10px 0;
    color: #ccc;
}

.contact .button {
    margin-top: 25px;
}

footer {
    padding: 30px;
    text-align: center;
    background: #090909;
    color: #777;
}

@media (max-width: 700px) {

    header {
        padding: 18px 5%;
    }

    .nav-links {
        display: none;
    }

    .hero {
        padding: 120px 5% 80px;
    }

    .section,
    .contact,
    .about {
        padding: 80px 5%;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}
